<div class="row-fluid">
  <div class="col-md-12">
    <div class="page_header">
      <div class="page_title"><p class="lead">业务分析统计</p></div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-12">
    <div class="page_help">
      <%= link_to "返回", {:controller => "data_analysis", :action => "index"}, {:class => "btn btn-primary"} %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-12">
    <div class="table_area">
      <table class="table table-striped">
        <tr id="table_head">
          <td>投保人</td>
          <td>实收保费</td>
          <td>手续费比例</td>
          <td>手续费</td>
        </tr>
        <% @settlement_details.each do |sd| %>
            <tr>
              <td><%= sd.insurance_person %></td>
              <td><%= sd.total_money %></td>
              <td><%= sd.total_handling_ratio %></td>
              <td><%= sd.total_money *  (sd.total_handling_ratio.to_f/100) %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="col-md-12">
    <%= will_paginate @settlement_details %>
  </div>
</div>