<div class="panel panel-default">
  <div class="panel-heading message_heading">
    <div class="row">
      <div class="col-md-12">
        <div class="channel-name-left">房间: <%= @channel.name %></div>
        <%#= form_for @new_massage,remote: true, url:  channel_chat_message_path do |f| %>
            <%#= f.hidden_field :channel_id %>
         <div class="message-content">
          <div class="input-group">
            <%#= f.text_area :content,{ placeholder: "Message",class: "message_text"} %>
            <%= text_area_tag :content,"",{ placeholder: "Message",class: "message_text"} %>
          </div>
           <div class="operation-list">
              <div class="setting-icon">
                <span class="glyphicon glyphicon-cog" aria-hidden="true">
                  <%= link_to "退出房间", chat_room_path %>
                </span>
              </div>
           </div>
        </div>
        </br>
        <div>
          <div class="input-group">
            <%#= f.submit "post",{class: "btn btn-default post-btn"}%>
            <%= submit_tag "post",{class: "btn btn-default post-btn"}%>
          </div>
         </div>
        <%# end %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div data-channel="messages" data-channel-id="<%= @channel.id %>">
      <%= render "chat_messages/talks" %>
    </div>
  </div>
</div>