<%= provide(:page_title,"media demo")%>
<table class="table table-striped  table-hover table-bordered">
 <tr>
   <td>资源名称</td>
   <td>操作</td>
   <td>API</td>
   <td>状态</td>
 </tr>
  <% @medium.each do |media| %>
    <tr>
      <td><%= media.name %></td>
      <td>
        <a href="javascript:void(0)" class="change" id="<%= media.id %>">转换</a>
      </td>
      <td><%= process_url(media.target) %></td>
      <td class="status">
        <%= status_meaning(media.status) %>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">
  $(function(){
     $(".change").on("click",function(){
        var media_id = $(this).attr("id");
       $.ajax({
             url: "/media/update",
             type: "post",
             data: {media_id: media_id},
             success: function(data){
               if(data["status"] == "ok"){
                 $("#" + media_id).parent().siblings(".status").html("<span class='label label-primary'>排队中</span>");
               }
             },
             dataType: "json"
            });
     })
  })
</script>

