<%= form_for(@user, :html => {:class => "form-horizontal",:id => "sign_up_form"}) do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="my_modal_label">注册</h2>
        </div>
        <div class="modal-body">
          <!--<form class="form-horizontal">-->
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">昵称</label>

            <div class="col-sm-10">
              <!--<input type="email" class="form-control" id="email1" placeholder="Email">-->
              <%= f.text_field :nick_name, {:class => "form-control", :id => "nick_name", :placeholder => "昵称",:autocomplete => "off"} %>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱</label>

            <div class="col-sm-10">
              <!--<input type="email" class="form-control" id="email1" placeholder="Email">-->
              <%= f.text_field :email, {:class => "form-control", :id => "email", :placeholder => "邮箱",:autocomplete => "off"} %>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>

            <div class="col-sm-10">
              <!--<input type="password" class="form-control" id="password" placeholder="password">-->
              <%= f.password_field :password, {:class => "form-control", :id => "password", :placeholder => "密码",:autocomplete => "off"} %>
            </div>
          </div>
          <div class="form-group">
            <label for="password_confirmation" class="col-sm-2 control-label">密码确认</label>

            <div class="col-sm-10">
              <!--<input type="password" class="form-control" id="password_confirmation" placeholder="password_confirmation">-->
              <%= f.password_field :password_confirmation, {:class => "form-control", :id => "password_confirmation", :placeholder => "密码确认",:autocomplete => "off"} %>
            </div>
          </div>
          <!--</form>-->
        </div>
        <div class="modal-footer">
          <!--<button type="submit" class="btn btn-primary">提交</button>-->
          <%= f.submit "提交", {:class => "btn btn-primary"} %>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  $("#sign_up_form").validate({
      errorClass: "validate_notice",
      rules: {
        "user[nick_name]":{
            required: true,
            maxlength: 50
        },
        "user[email]": "required",
        "user[password]":{
            required: true,
            minlength: 6
        },
        "user[password_confirmation]": {
            required: true,
            equalTo: "#password"
        }
      },
      messages:{
          "user[nick_name]":{
              required: "请输入您的昵称",
              maxlength: 50
          },
          "user[email]": "请输入您的邮箱地址",
          "user[password]":{
              required: "请输入您的密码",
              minlength: "密码最少需要六位长度"
          },
          "user[password_confirmation]": {
              required: "请再次输入密码",
              equalTo: "请再次输入相同的密码"
          }
      }
  });
</script>