<!DOCTYPE html>
<html>
<head>
  <title>AllApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/html5_shim' %>
</head>
<body>
 <%= yield %>
</body>
</html>
