<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:page_title) %></title>
  <%= stylesheet_link_tag 'application_login', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta http-equiv="refresh" content="5" />
  <!--非全局js引用-->
  <%= yield(:template_js) %>
</head>
<body>
<div class="container-fluid">
  <%= render 'layouts/header' %>
  <div class="row-fluid">
    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>
  <%#= debug(params) if Rails.env.development? %>
</div>
</body>
</html>